@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    // min-height: 100vh;
    height: 100vh;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    background: colors.$very-dark-blue;
    color: #fff;
}
a,
a:visited,
a:focus {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 93%;
}

button {
    border: 1px solid transparent;
    background: unset;
    color: #fff;
    cursor: pointer;
    padding: funcs.rem(5);
    margin-bottom: funcs.rem(20);
}
button.active,
button:hover {
    border: 1px solid rgb(255, 255, 255);
}
