@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  background: #0f1424;
  color: #fff;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 93%;
}

button {
  border: 1px solid transparent;
  background: unset;
  color: #fff;
  cursor: pointer;
  padding: 0.3125rem;
  margin-bottom: 1.25rem;
}

button.active,
button:hover {
  border: 1px solid white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media only screen and (max-width: 560px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 5rem 0;
  }
}
.container .profile {
  width: 15.9375rem;
  height: 32.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  background: #1c1f4a;
}
@media only screen and (max-width: 560px) {
  .container .profile {
    width: 20.5625rem;
    height: 12.6875rem;
  }
}
.container .profile > * {
  width: 100%;
  padding: 2.1875rem 1.5625rem;
}
.container .profile_presentation {
  height: 22.3125rem;
  background: #5847eb;
  border-radius: inherit;
}
@media only screen and (max-width: 560px) {
  .container .profile_presentation {
    height: 8.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
.container .profile_presentation .photo {
  width: 5.3125rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: #fff;
  display: grid;
  place-items: center;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 560px) {
  .container .profile_presentation .photo {
    margin-bottom: 0;
  }
}
.container .profile_presentation .name {
  width: min-content;
  font-size: 0.9375rem;
  font-weight: 300;
}
@media only screen and (max-width: 560px) {
  .container .profile_presentation .name {
    width: max-content;
  }
}
.container .profile_presentation .name h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
@media only screen and (max-width: 560px) {
  .container .profile_presentation .name h1 {
    font-size: 1.3125rem;
  }
}
.container .profile_times {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 100%;
}
@media only screen and (max-width: 560px) {
  .container .profile_times {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
  }
}
.container .hobbies {
  max-width: 51.6875rem;
  min-width: 20.5625rem;
  width: 80%;
  height: 32.5rem;
  margin-left: 1.5625rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (max-width: 560px) {
  .container .hobbies {
    height: auto;
    margin: 1.5625rem auto;
  }
}
.container .hobbies_card {
  width: 16.125rem;
  height: 15.5rem;
  display: block;
  border-radius: 0.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.container .hobbies_card:hover {
  filter: brightness(1.2);
}
.container .hobbies_card:first-child {
  background: #ff8c66 url(/images/icon-work.svg) no-repeat;
  background-position: 90% -5%;
}
.container .hobbies_card:nth-child(2) {
  background: #56c2e6 url(/images/icon-play.svg) no-repeat;
  background-position: 90% -5%;
}
.container .hobbies_card:nth-child(3) {
  background: #ff5c7c url(/images/icon-study.svg) no-repeat;
  background-position: 90% -5%;
}
.container .hobbies_card:nth-child(4) {
  background: #4acf81 url(/images/icon-exercise.svg) no-repeat;
  background-position: 90% -5%;
}
.container .hobbies_card:nth-child(5) {
  background: #7536d3 url(/images/icon-social.svg) no-repeat;
  background-position: 90% -10%;
}
.container .hobbies_card:last-child {
  background: #f1c65b url(/images/icon-self-care.svg) no-repeat;
  background-position: 90% -5%;
}
.container .hobbies_card .img {
  height: 3.4375rem;
  background: transparent;
}
.container .hobbies_card .content {
  border-radius: 0.875rem;
  height: 100%;
  background: #1c1f4a;
  padding: 0 1.5625rem;
}
.container .hobbies_card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 0.5rem;
  margin-top: 2.1875rem;
}
.container .hobbies_card:nth-child(n+4) {
  align-self: end;
}
@media only screen and (max-width: 560px) {
  .container .hobbies_card {
    width: 100%;
    margin-bottom: 1.875rem;
    height: 10rem;
  }
}
.container .hobbies_card .time {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 560px) {
  .container .hobbies_card .time {
    font-size: 1.5625rem;
  }
}
.container .hobbies_card .description {
  color: #bdc1ff;
}
@media only screen and (max-width: 560px) {
  .container .hobbies_card .description {
    font-size: 0.9375rem;
  }
}
@media only screen and (max-width: 560px) {
  .container .hobbies_card .value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
