@use './utils/index' as vars;

.container {
    width: 100%;
    height: 100%;
    @include vars.flexer(center, center);

    @include vars.media(phablet) {
        @include vars.flexer(center, center, column);
        height: auto;
        padding: vars.rem(80) 0;
    }

    .profile {
        width: vars.rem(255);
        height: vars.rem(520);

        @include vars.flexer(center, start, column);
        border-radius: vars.rem(16);
        overflow: hidden;
        background: vars.$dark-blue;

        @include vars.media(phablet) {
            width: vars.rem(329);
            height: vars.rem(203);
        }

        & > * {
            width: 100%;
            padding: vars.rem(35) vars.rem(25);
        }

        &_presentation {
            height: vars.rem(357);
            background: vars.$blue;
            border-radius: inherit;

            @include vars.media(phablet) {
                height: vars.rem(130);
                @include vars.flexer(center, space-around);
            }

            .photo {
                width: vars.rem(85);
                border-radius: 50%;
                aspect-ratio: 1 / 1;
                background: #fff;
                display: grid;
                place-items: center;
                margin-bottom: vars.rem(40);

                @include vars.media(phablet) {
                    margin-bottom: 0;
                }
            }

            .name {
                width: min-content;
                font-size: vars.rem(15);
                font-weight: 300;

                @include vars.media(phablet) {
                    width: max-content;
                }

                h1 {
                    font-size: vars.rem(40);
                    font-weight: 300;

                    @include vars.media(phablet) {
                        font-size: vars.rem(21);
                    }
                }
            }
        }

        &_times {
            @include vars.flexer(start, start, column);
            height: 100%;

            @include vars.media(phablet) {
                @include vars.flexer(center, space-around, row);
                padding: 0;
            }
        }
    }

    .hobbies {
        max-width: vars.rem(827);
        min-width: vars.rem(329);
        width: 80%;

        height: vars.rem(520);
        margin-left: vars.rem(25);
        @include vars.flexer(start, space-between);
        flex-wrap: wrap;
        @include vars.media(phablet) {
            height: auto;
            // height: vars.rem(500);
            margin: vars.rem(25) auto;
        }

        &_card {
            width: vars.rem(258);
            // flex: 1 1 vars.rem(258);
            height: vars.rem(248);
            display: block;
            border-radius: vars.rem(14);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            &:hover {
                filter: brightness(1.2);
            }

            &:first-child {
                background: vars.$lighter-red url(/images/icon-work.svg) no-repeat;
                background-position: 90% -5%;
            }
            &:nth-child(2) {
                background: vars.$soft-blue url(/images/icon-play.svg) no-repeat;
                background-position: 90% -5%;
            }
            &:nth-child(3) {
                background: vars.$light-red url(/images/icon-study.svg) no-repeat;
                background-position: 90% -5%;
            }
            &:nth-child(4) {
                background: vars.$lime-green url(/images/icon-exercise.svg) no-repeat;
                background-position: 90% -5%;
            }
            &:nth-child(5) {
                background: vars.$violet url(/images/icon-social.svg) no-repeat;
                background-position: 90% -10%;
            }
            &:last-child {
                background: vars.$soft-orange url(/images/icon-self-care.svg) no-repeat;
                background-position: 90% -5%;
            }

            .img {
                height: vars.rem(55);
                background: transparent;
            }

            .content {
                border-radius: vars.rem(14);
                height: 100%;
                background: vars.$dark-blue;
                padding: 0 vars.rem(25);
            }

            .header {
                @include vars.flexer(center, space-between);
                border-radius: vars.rem(8);
                margin-top: vars.rem(35);
            }

            &:nth-child(n + 4) {
                align-self: end;
            }

            @include vars.media(phablet) {
                width: 100%;
                margin-bottom: vars.rem(30);
                height: vars.rem(160);
            }

            .time {
                font-size: vars.rem(40);
                font-weight: 300;
                margin-bottom: vars.rem(20);

                @include vars.media(phablet) {
                    font-size: vars.rem(25);
                }
            }
            .description {
                color: vars.$pale-blue;
                @include vars.media(phablet) {
                    font-size: vars.rem(15);
                }
            }

            .value {
                @include vars.media(phablet) {
                    @include vars.flexer(center, space-between);
                }
            }
        }
    }
}
